/* FUNDOS CUSTOMIZADOS */
.bgc-primary {
    background-color: #343a40;
}
.bgc-secondary {
    background-color: #fff;
}

/* FONTES CUSTOMIZADAS */
.fcc-primary {
    color: #9ec5fe;
}
.fcc-secondary {    
    color: #fff;
}
.fcc-positive {
    color: #56FFB2;
}
.fcc-negative {
    color: #FF5F61;
}

/* BORDAS */
.borderc-primary {
    border-color: #9ec5fe !important;
}
.borderc-secondary {
    color: #fff !important;
}