/* FUNDOS CUSTOMISADOS */
.bgc-primary {
    background-color: #343a40;
}
.bgc-secondary {
    background-color: #fff;
}

/* FONTES CUSTOMISADAS */
.fcc-primary {
    color: #9ec5fe;
}
.fcc-secondary {
    color: #fff;
}