/* FUNDOS CUSTOMIZADOS */
.bgc-primary {
    background-color: #343a40;
}
.bgc-secondary {
    background-color: #fff;
}

/* FONTES CUSTOMIZADAS */
.fcc-primary {
    color: #9ec5fe;
}
.fcc-secondary {
    color: #fff;
}